@import "../variables/colors.scss";

* {
    margin: 0;
    padding: 0;
}

html {
	font-size: 12px;
}

body {
	font-size: 1.4rem;
	font-family: Helvetica, Arial, sans-serif;
	color: $blue;
	background-color: $light-blue;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

a, a:focus {
	text-decoration: none;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	.container {
		flex-grow: 1;
	}
}