@import "../variables/colors.scss";

* {
    margin: 0;
    padding: 0;
}

html {
	font-size: 12px;
}

body {
	font-size: 1.4rem;
	font-family: Helvetica, Arial, sans-serif;
	color: $blue;
	background-color: $blue-tint3;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

a, a:focus, a:hover {
	text-decoration: none;
}

a {
	cursor: pointer;
}

button {
	padding: 2px 16px 2px;
    cursor: pointer;
    background-color: $blue-tint2;
    color: $white;
    box-shadow: none;
    border: none;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	.container {
		flex-grow: 1;
	}
}