@import "../../../styles/variables/colors.scss";

.course-detailed {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    background-color: $white;
    display: flex;

    .information {
        flex-grow: 1;
        max-width: 900px;

        .information-header {
            display: flex;
            justify-content: space-between;
        }

        .information-container {
            padding: 10px 0 0 0;
        }

        .likes {
            display: inline-block;
            cursor: pointer;
        }
    }

    .actions {
        margin: 30px 10px;
        display: flex;
        flex-direction: column;
    }
}