@import "../../../../styles/variables/colors.scss";

.menu-list {
    display: flex;

    .menu-link {
        text-decoration: none;
        color: $gray;
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        padding: 0 5px;
        
        &:hover {
            text-decoration: none;
            color: $white;
            border-left: 1px solid $white;
            border-right: 1px solid $white;
        }
    }
}