@import "../../../../styles/variables/colors.scss";

.menu-list {
    display: flex;

    .menu-link {
        position: relative;
        text-decoration: none;
        color: $gray;
        padding: 0 5px;
        margin: 0 9px;
        
        &.not-last:after {
            content: '>';
            position: absolute;
            top: 1px;
            right: -15px;
        }

        &:hover {
            text-decoration: none;
            color: $white;
            border-left: 1px solid $white;
            border-right: 1px solid $white;
        }
    }
}