@import "../../../../styles/variables/colors.scss";

.header {
    background-color: $dark-blue;
    display: flex;
    justify-content: space-between;
    color: $white;

    .logo, .user, .menu {
        padding: 10px;
        margin: auto 0;
    }

    .user {
        .logged-in, .logged-out {
            display: flex;
            flex-direction: column;

            a {
                cursor: pointer;
                color: $gray;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}