@import "../../../styles/variables/colors.scss";

.login-form {
    text-align: center;
    margin: 10px auto;
    max-width: 300px;

    .name, .password {
        display: flex;
        justify-content: space-between;
    }
}