@import "../../../styles/variables/colors.scss";

.confirm-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);

    .confirm-modal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        margin: 100px auto;
        height: 200px;
        width: 300px;
        background-color: $white;
        color: $blue;

        .buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}