@import "../../../styles/variables/colors.scss";

.course {
    margin: 10px 0;
    display: flex;


    .information {
        color: inherit;
        padding: 5px;
        border: 1px solid $dark-gray;
        border-radius: 5px;
        background-color: $white;
        flex-grow: 1;
        max-width: 700px;

        &.top-rated {
            background-color: $light-green;
        }

        &:hover {
            background-color: $gray;
        }

        .information-header {
            display: flex;
            justify-content: space-between;
        }

        .information-container {
            padding: 10px 0 0 0;
        }
    }

    .actions {
        margin: 30px 10px;
        display: flex;
        flex-direction: column;

        a {
            color: $blue-tint1;

            &:hover {
                color: $dark-gray;
            }
        }
    }
}