@import "../../../styles/variables/colors.scss";

.course {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    display: flex;

    .information {
        flex-grow: 1;
        max-width: 700px;

        .information-header {
            display: flex;
            justify-content: space-between;
        }

        .information-container {
            padding: 10px 0 0 0;
        }
    }

    .actions {
        margin: 30px 10px;
        display: flex;
        flex-direction: column;
    }
}