@import "../../../../styles/variables/colors.scss";

.footer {
    background-color: $blue-tint1;
    text-align: center;
    display: block;
    color: $white;

    .copyright {
        line-height: 40px;
    }
}