@import "../../../styles/variables/colors.scss";

.edit-form {
    text-align: center;
    margin: 10px auto;
    max-width: 500px;

    .title, .description, .date, .duration {
        display: flex;
        justify-content: space-between;
        margin: 10px auto;

        input, textarea {
            width: 250px;
        }
    }

    .title, .description {
        .ng-valid.ng-touched {
            border: 1px solid $green;
            box-shadow: inset 0px 0px 2px $green;
        }

        .ng-invalid.ng-touched{
            border: 1px solid $red;
            box-shadow: inset 0px 0px 2px $red;
        }
    }

    .date, .duration {
        &.ng-valid.ng-touched input {
            border: 1px solid $green;
            box-shadow: inset 0px 0px 2px $green;
        }

        &.ng-invalid.ng-touched input {
            border: 1px solid $red;
            box-shadow: inset 0px 0px 2px $red;
        }
    }

    .duration {
        position: relative;

        .course-duration-parce {
            position: absolute;
            top: 0;
            left: 500px; 
            width: 100px;
        }
    }
}
